/*mobile-version*/
@media (max-width: 1000px) {
body {
	background-color: #05061E;
    overflow-x: hidden;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	
}

.d_cloud {
background:url(../img/mini_decor_cloud.png) no-repeat center center;

background-size:70%;
position: fixed;
background-position: 50% 50%;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30%;
  
opacity: 0.8; 
filter: alpha(Opacity=80); 

animation: pendulum 30s infinite cubic-bezier(0,0,1,1);
 -webkit-animation: pendulum 30s infinite cubic-bezier(0,0,1,1);
transform-origin:center bottom;
}
  
}
/* Keyframes */

@-webkit-keyframes
pendulum {
    0%, 100% { transform: scale(1.5); }
    25%, 75% { transform: scale(1.8); }
    50% { transform: scale(2); } 

}

@keyframes pendulum {
     0%, 100% { transform: scale(1.5); }
    25%, 75% { transform: scale(1.8); }
    50% { transform: scale(2); } 

}
/*header*/
.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.checkbox + label {
  position: relative;
  padding: 0 0 0 60px;
}
.checkbox + label:before
 {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  background:url(../img/th_theme.png) no-repeat center center;
  background-size:cover;
  transition: .2s;
}
.checkbox + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #9399A5;
  transition: .2s;
}
.checkbox:checked + label:before {
   background:url(../img/th_theme.png) no-repeat center center;
   background-size:cover;
}
.checkbox:checked + label:after {
  left: 26px;
}
.language_version_link{
  position: absolute;
  top: 17px;
  left: 90px;
  width: 22px;
  height: 22px;
}

.contact_button {	/*кнопка уехала*/
  position: relative;
  top: 17px;
  right: 90px;
  border: none;
   background: url(../img/icon_contact.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

.column {
		border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) 
}
.textbox {
  position: relative;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font: normal 16px/normal "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #fff;
  background: rgba(252,252,252,0.5);

}

.bot_button {
  display: inline-block;
  position: absolute;
  padding: 10px 20px;
  border: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: rgba(0,0,255,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(255,255,255,0.94);
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

}

